.column_container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 32%;
    height: 100vh;
    border-radius: 15px;
    overflow: auto;
    background-color: #f6f8fa;
    margin-top: 0.5rem;
    align-items: center;
    padding: 1rem;
    align-content: flex-start;
}

.column_header{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_number{
   background-color:#E5E5E5 ;
   width: 26px;
   height: 28px;
   border: 0.5px solid #E5E5E5;
   border-radius: 11.5px;
   padding-bottom: 5.2px;
   padding-left: 7px;
}

.column_title{
    color: rgb(43, 35, 35);
    font-weight: 700;
}

.add_button_column{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
}

.input_header_container{
    display: flex;
    height:13vh;
    width: 100%;
    flex-direction: column;
}

.input_text{
    height: 3.5rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.75vh;
}

.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    border-radius: 10px;
    border: 1px solid black;
    width: 48%;
    height: auto;
    padding: 0.75rem 0;
    
}

.add_button{
    background-color: #2ea44f;
    color: white;
    
}

.add_button:disabled{
    background-color: #2ea44f ;
    opacity: 0.7;
}


.cancel_button{
}