.card_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    min-height: 12%;
    border: 0.5px solid rgba(27,31,35,0.15);
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background: white;
    
}

.radio_button{
    color: #22863a;
    margin-top: 0.5rem;
}

.check_circle{
    color: #cb2431;
    margin-top: 0.5rem;
}

.title_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 83%;
}

.card_title{
    display: flex;
    color: #0366d6;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    flex-wrap: wrap;
}

.card_sub_title{
    font-weight: 400;
    color: grey;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.delete_button{
    background-color: transparent;
    border: none;
    margin-top: 0.5rem;
    color: rgb(63, 63, 63);
}
