.menu-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    background-color:#24292e;
    color: white;
    align-items: center;
}

.img_header{
    width: 45px;
    height: 45px;
    margin-left: 2rem;
}

.version-container{
    display: flex;
    flex-direction: row;
    margin-right: 50%;
    align-items: center;
}

.version{
    margin-left: 0.25rem;
}
